@import "ui-variables";
@modified-icon-width: 8px;
@tab-top-padding: 0px;
@tab-bottom-border-height: 0px;
@tab-bar-bottom-border-color: #111;
@tab-side-border-size: 10px;
@tab-max-width: 160px;
@tab-min-width: 80px;

.tab-bar {
  height: @tab-height;
  background: @grey;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1002;

  .tab {
    position: relative;
    max-width: @tab-max-width;
    min-width: @tab-min-width;
    height: @tab-height;
    line-height: @tab-height;
    padding: @tab-top-padding 0 0 0;
    //margin: 0 20px 0 5px;

    color: @secondary-text-icon;
    border-bottom: solid 0px @primary-text-icon;

    background-color: @primary-color;
    transition: color .1s ease-in;
    transition: border .1s ease-in;


    .title{
      line-height: @tab-height;
      font-size: @font-size;
      z-index: 1;
      padding: 0 14px 0 14px;
    }

    .close-icon {
      font-size: @font-size;
      right: 0;
      z-index: 3;
      text-align: right;
      line-height: @tab-height;
      color: @secondary-text-icon;
      margin: 0 14px 0 0;

      &:hover {
        color: @white;
      }

      &:before {
        font-family: @icon-font !important;
        content: @md-close !important;
      }
    }
  }

  .tab.modified:not(:hover) {
    .close-icon {
      right: 0 !important;
      text-align: right;
      line-height: @tab-height;
      color: @secondary-text-icon !important;
      margin: 0 17px 0 0;
      display: block !important;
      top: 0 !important;
      border-radius: 0px !important;
      border: none !important;
      &:before {
        display: inline-block !important;
        font-family: @icon-font !important;
        content: @md-edit !important;
      }
    }
  }

  .tab.modified {
    .close-icon {
      right: 0 !important;
      text-align: right;
      line-height: @tab-height;
      color: @secondary-text-icon !important;
      margin: 0 14px 0 0;
      display: block !important;
      top: 0 !important;
      border-radius: 0px !important;
      border: none !important;
      &:before {
        display: inline-block !important;
        font-family: @icon-font !important;
        content: @md-edit !important;
      }
    }

    .close-icon:hover {
      color: @white !important;
      &:before {
        display: inline-block !important;
        font-family: @icon-font !important;
        content: @md-close !important;
      }
    }
  }

  .tab.active {
    z-index: 1;
    color: @primary-text-icon;
    background-color: @primary-color;
    border-bottom: solid 4px @primary-text-icon;

    .close-icon {
      right: 0 !important;
      text-align: right;
      line-height: @tab-height;
      color: @secondary-text-icon !important;
      margin: 0 14px 0 0;
      display: block !important;
      top: 0 !important;
      border-radius: 0px !important;
      border: none !important;
      &:before {
        display: inline-block !important;
        font-family: @icon-font !important;
        content: @md-close !important;
      }
    }

    .close-icon:hover {
      color: @white !important;
      &:before {
        display: inline-block !important;
        font-family: @icon-font !important;
        content: @md-close !important;
      }
    }
  }

  .tab:hover {
    background-color:@primary-color-hover;
  }

  .tab.active:hover .close-icon {
    color: @primary-text-icon;

    &:hover {
      color: inherit;
    }
  }

  .placeholder {
    height: @tab-height;
    pointer-events: none;
    &:after {
      top: @tab-height - 2px;
    }
  }
}
