// Colors

@text-color: @secondary-text-icon;
@text-color-subtle: @disabled-text-icon;
@text-color-highlight: @primary-text-icon;
@text-color-selected: @text-color-highlight;

@text-color-info: #2196F3;
@text-color-success: #4CAF50;
@text-color-warning: #FFC107;
@text-color-error: #f44336;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: @text-color-info;
@background-color-success: @text-color-success;
@background-color-warning: @text-color-warning;
@background-color-error: @text-color-error;
@background-color-highlight: @white;
@background-color-selected: @primary-color-hover;

@app-background-color: @grey;

@base-background-color: @grey;
@base-border-color: @black;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: @black;

@input-background-color: #212224;
@input-border-color: @accent-color;

@tool-panel-background-color: @primary-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: #161719;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: #43484d;
@panel-heading-border-color: @base-border-color;

@overlay-background-color: #202123;
@overlay-border-color: @base-border-color;

@button-background-color: #43484d;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: #5c6064;
@button-border-color: @base-border-color;

@tab-bar-background-color: @grey;
@tab-bar-border-color: darken(@tab-background-color-active, 10%);
@tab-background-color: @primary-color;
@tab-background-color-active: @primary-color;
@tab-border-color: @primary-text-icon;

@tree-view-background-color: @grey;
@tree-view-border-color: @tool-panel-border-color;

@scrollbar-background-color: #222425; // Needs to be opaque -> atom/atom/issues/4578
@scrollbar-color: rgba(92, 92, 92, 0.5);

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: #db2ff4; // purple
@ui-site-color-5: #f5e11d; // yellow

// Material Design Colors

@black: #000000;
@white: #FFFFFF;
@grey: #eeeeee;

@dividers: fade(@black, 12%);
@disabled-text-icon: fade(@black, 26%);
@secondary-text-icon: fade(@black, 54%);
@primary-text-icon: fade(@black, 87%);

@dividers-white: fade(@white, 12%);
@disabled-text-icon-white: fade(@white, 26%);
@secondary-text-icon-white: fade(@white, 54%);
@primary-text-icon-white: fade(@white, 87%);

@primary-color-light: #CFD8DC;
@primary-color: rgb(15,157,88);
@primary-color-dark: #1B5E20;
@primary-color-hover: rgb(84,155,121);

@accent-color-light: @white;
@accent-color: @grey;
@accent-color-dark: @primary-color-hover;

// Icons
@md-cancel: "\f293";
@md-close: "\f29a";
@md-remove-circle-outline: "\f113";
@md-remove-circle: "\f112";
@md-edit: "\f1fc";
@md-expand-more: "\f29e";
@md-expand-less: "\f29d";

@icon-font: 'Material-Design-Iconic-Font';


// Sizes

@font-size: 14px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;

@tab-height: 38px;


// Other

@font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
